@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Estilos globales */
body {
  background-color: #5c5858;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-top: 127px !important;
}

/* ENCABEZADO */
header {
  background-color: #f5f3f3;
  padding: 10px 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Logo */
.logo img {
  max-width: 100px;
  display: inline-block;
}

/* Menú */
.menu-principal ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 0;
}

.menu-principal.active {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-principal a {
  text-decoration: none;
  color: #9da715;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
}

.menu-principal a:hover {
  background: #46400f;
}

/* Estilos para el main del index */

.title-principal {
  margin: 10px;
  color: #9da715;
  font-size: 48px;
}

.description {
  margin: 10px;
}

.container h2 {
  color: #9da715 !important;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

h2 {
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
}

.card {
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.card:hover {
  transform: scale(1.05);
  z-index: 10;
}

.card-title {
  color: #9da715 !important;
}

.card-text {
  font-size: 0.95rem;
}

/* Estilos del footer */

footer {
  background-color: #f5f3f3;
}

footer img {
  transition: transform 0.2s ease;
}

footer img:hover {
  transform: scale(1.1);
}

/* Aplico algunos estilos a la pagina de turnos, para corregir algo de bootstrap */

#formulario-datos {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#lista-servicios .card {
  margin: 10px;
}

.servicio-card {
  background-color: #f3edca !important; /* Violeta claro o el color que prefieras */
}

/* Versión para escritorio */

@media (min-width: 768px) {
  .menu-principal {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .menu-principal ul {
    flex-direction: row;
  }
  .menu-principal a {
    font-size: 16px;
  }
  .logo img {
    max-width: 100px;
  }
}
